body {
    background-color: rgb(106, 106, 117);
    text-align: center;
}

header {
    margin-bottom: 20px;
    font-size: 30px;
}

button {
    border: 2px solid black;
    border-radius: 8px;
    width: 113px;
    height: 40px;
    font-size: 20px;
    font-weight: 700;
    background-color: rgb(201, 82, 13);
}

button:hover {
    transform: scale(1.1);
}

button:active {
    border: 1px solid black;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.controls {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    padding: 8px;
    gap: 15px;
}

.grid {
    display: grid;
    width: 500px;
    height: 500px;
}

.grid > div {
    border: .01rem solid rgb(65, 65, 65);
}